// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 200px;
      padding-bottom: 400px;
      .intro-box{
        border-style: none;
        background: rgba($primary, 0.6);
        padding:15px;
        box-sizing: border-box;
        width:80%;
      }
      .intro-lead-in {
        text-align: left;
        font-size: 35px;
        font-style: italic;
        line-height: 35px;
        text-overflow: ellipsis;
        @include serif-font;
      }
      .intro-heading {
        text-align: left;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        @include heading-font;
      }
    }
  }
}
